body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

.main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px lightgray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

label {
    width: 90px;
    font-weight: bold;
}

input {
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid gray;
}

.Createaccount-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;

    background-color: green;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}