/*body {
  margin: 0;
  font-family: Arial;
  /* background-color: #f5f5f5;*/
 /* background-color:var(--white-color);
}


/*
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.container1 {
  width: 200px;
  height: 450px;
  padding: 70px;
  margin-top: 50px;
  border-radius: 20px;
  /*background-color: white;*/
 /* background-color: var(--white-color);
  /*box-shadow: 0px 0px 15px lightgray;*/
  /*box-shadow: var(--gray-400);
  border: 1px solid #ccc;
}
*/
h2,
h5 {
  text-align: center;
}

nav {
  text-align: center;
  margin: 10px;
}

/*.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  gap: 0px;
}*/

/*label {
  width: 100px;
  font-weight: bold;
}
*/
/*input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  min-width: 0;
}*/

button {
  display: block;
  margin: 15px auto;
  /*padding: 10px 20px;*/
  padding: var(--spacing-md);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*.google {
  /*background-color:gray;*/
 /* border: 1px solid white;
  background-color:var(--white-color);
  padding:15px 15px;
}

/*.login-btn {
  background-color: rgb(0, 34, 255);*/
 /* background-color: var(--info-color);*/
 /* color: white;
  padding: 15px 15px;
}
/*
.forgot {
    text-align: center;
    margin-top: 5px;
}

.forgot a {
    font-size: 12px;
    color: blue;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}
*/
.sample {
  width: 160px;
  height: 60px;
  padding: 20px;
  margin: 45px auto;
  border: 1px solid;
  border-radius: 12px;
  color: black;
}
